@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

.body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #212529;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

.header{
    display: flex;
    width: 100%;
    padding: 15% 0 5% 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}
.icon{
    max-height: 35px;
}

.title{
    color: #e76e55;
}

.htu{
    max-width: 50%;
    font-size: 12px;
    margin-bottom: 50px;
}

.htu div{
    margin: 8px 0;
}

.coin{
    max-height: 16px;
}

.frame{
    flex-direction: column;
    width: 80%;
    border: 2px solid yellow;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.icon{
    max-height: 16px;
}

.icon:hover{
    cursor: pointer;
}

a, a:hover{
    text-decoration: none !important;
    color: white !important;
    font-size: 10px;
}

.themes-selector {
    position: fixed;
    background-color: rgb(47 50 56);
    border: 1px solid rgb(80, 81, 83);
    border-top: none;
    width: 160px;
    padding: 8px 4px 4px 8px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    top: 0px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
}

.reset_btn_container{
    display: flex;
    width: 80%;
    justify-content: flex-end;
}