@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #212529;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

input[type="number"]{
    max-width: 6em;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    padding: 15% 0 5% 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.icon {
    max-height: 35px;
}

.title {
    color: #e76e55;
}


.frame {
    width: 95vw;
}

.list_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_row {
    display: flex;
    flex: 1;
    max-height: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 24px 0;
}

.flex_row_left {
    display: flex;
    flex: 10;
    white-space: nowrap;
    overflow: hidden;

}

.flex_row_right {
    display: flex;
    flex: 1;
    margin-left: 8px;
    align-items: center;
}

.flex_row_right input{
   margin: 0px 16px;
   flex: 1;
}

.flex_row_right button{
    height: 30px;
    padding:0;
}


.url_name {
    overflow-x:scroll;    
}

.url_name::-webkit-scrollbar{
    display: none;
}

.button {
    padding: 8px 16px;
}