@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: #212529;
    font-family: 'Press Start 2P', cursive;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

a, a:hover{
    text-decoration: none !important;
    color: white !important;
    font-size: 10px !important;
}

input[type="radio"]:checked::after{
    color:#f7d51d;
}

input[type="number"]{
    max-width: 6em;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.header {
    display: flex;
    width: 100%;
    padding: 15% 0 5% 0;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.icon {
    max-height: 35px;
}

.icon:hover{
    cursor: pointer;
}

.title {
    color: #e76e55;
}

.center{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 95vw;
}

.list_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex_row {
    display: flex;
    flex: 1;
    max-height: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 24px 0;
}

.flex_row_left {
    display: flex;
    flex: 10;
    white-space: nowrap;
    overflow: hidden;

}

.flex_row_right {
    display: flex;
    flex: 2;
    margin-left: 8px;
    align-items: center;
}

.flex_row_right input{
   margin: 0px 16px;
   flex: 1;
}

.flex_row_right button{
    height: 30px;
    padding:0;
}

.themes-selector{
    position: fixed;
    background-color: rgb(47 50 56);
    border: 1px solid rgb(80, 81, 83);
    border-top: none;
    width: 150px;
    padding: 8px 4px 4px 8px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    top:0px;
    right:20px;
    display: flex;
    justify-content: space-evenly;
}

/* #nes, #soft{
    margin-right:16px;
} */

#help{
    font-size: 10px;
}

.icon{
    max-height: 16px;
}


.url_name {
    overflow-x:scroll;    
}

.url_name::-webkit-scrollbar{
    display: none;
}

.space_between{
    color:#fff;
    text-shadow: 2px 2px #b87b0b;
    display: flex;
    justify-content: space-between;
    background-color: #f7d51d;
    box-shadow: inset -3px -3px 0px #e59400;
    padding: 8px;
}

.index{
    margin-right: 8px;
    margin-left: 4px;
    color:#f7d51d;
    text-shadow: 2px 2px #b87b0b;
}

.margin_y{
    margin: 50px 0px;
}

.radio_div{
    margin:0;
    padding:0;
    flex: 1;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 8px 16px;
}

.reset_btn_container{
    width: calc(100vw - 20px);
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
}