/* fonts */
@font-face {
    font-family: 'Press Start 2P';
    src: url('/fonts/PressStart2P-Regular.ttf');
}

img:hover {
    cursor: pointer;
}

.flashpoint-body {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: content-box;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.flashpoint-body::-webkit-scrollbar {
    display: none;
}

.body-wraper {
    color: #fff;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(180, 176, 176, 0.274);
    background-color: rgb(55, 57, 63);
    font-size: 10px;
}

.hidden {
    display: none;
}

.nes-container {
    padding: 0;
}

.frame {
    min-width: 500px;
    height: fit-content;

}

.middle-content {
    padding: 1.5em 2em;
}

.logotype{
    font-size: 18px;
}

.title {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

#url-exception {
    width: 100%;
    text-align: center;
}

#interval:focus {
    outline: none;
}

.icon {
    max-height: 20px;
}

.container {
    width: 100%;
    display: flex;
    align-items: baseline;
    margin: 10px 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.flex_item {
    flex: 1;
}

.container-between {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px 0;
    flex: 1;
}

.container-between div {
    width: 50%;
}

.mt-4 {
    margin-top: 12px;
}

.input-number {
    text-align: center;
    max-width: 200px;
}

.item-label {
    flex: 3;
}

.top-content {
    margin: 1em 0;
}

.mb-2 {
    margin: 4px 0;
}

.text-black {
    color: rgb(43, 41, 41);
}

.modal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    padding: 8px 16px;
    background-color: #212529;
    width: 100%;
    box-shadow: 
    inset 1px -1px 1px rgb(255, 255, 255),
    inset -1px 0px 1px rgb(255, 255, 255),
    inset 4px -4px 1px #212529,
    inset -4px 0px 1px #212529,
    inset 8px -8px 1px white,
    inset -8px 0px 1px white;

}

.footer-text {
    flex: 1 0;
    font-size: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.589);
}

.url-div {
    display: flex;
    width: 100%;
}

.url-input:focus {
    outline: none;
}

.url-input {
    width: 250px;
    text-align: center;
    border: 0px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: inset -4px 2px 8px rgba(59, 58, 58, 0.384),
        inset 4px 2px 8px rgba(59, 58, 58, 0.384);

}

.url-button {
    background-color: rgb(255, 217, 0);
    box-shadow: inset -4px -2px 3px rgba(255, 166, 0, 0.692);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.699);
    width: 50px;
    height: 21px;
    border: 0px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.url-button:hover {
    cursor: pointer;
}

#remove{
    color:rgb(43, 41, 41);
}

.protect-page{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* refactor */

.middle_content{
    padding: 0px 32px;    
}

.multi_row_frame{
    padding: 16px 8px 0 8px;
    position: relative;
    margin-bottom: 16px;
    border: 2px solid white;
}

.split_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.split_row_right{
    display: flex;
    width:50%;
    align-items: center;

}
.split_row_left{
    display: flex;
    width:50%;
    align-items: center;

}

.title{
    text-align: center;
    margin: 0;
    background-color: #212529;
    position: absolute;
    top: -12px;
    left: 8px;
}


.full_row{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: flex-end;
}

.full_row_upper{
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.full_row_inner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full_row_bottom{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full_row_bottom a{
    flex-wrap: nowrap;
}


.checkbox_label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.message {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: rgb(255, 217, 0);
    color:rgb(55, 57, 63);
    height: 5em;
    border-radius: 10px;
    right: 11%;
    bottom: 35%;
    z-index: 50;
    margin: 16px 0px;
    text-align: center;
    height: 100px;
    width: 400px;
    text-shadow: 1px 1px #212529;
}

.no_select{
    user-select: none;
}

.off_btn_container{
    position: absolute;
    right: 12px;
    top: 14px;
    z-index: 10;
}

.off_btn{
    border-radius: 50%;
    height: 26px;
    border: none;
    will-change: border;
    box-sizing: border-box;
}

.off_btn:hover{
    border: 1px solid #fff;
}

.off_btn:active{
    filter: grayscale(20%);
}

#soft{
    filter: contrast(250%);
}

/* @github */
#git {
    font-family: inherit;
    color: inherit;
    text-decoration: none;
}